<footer>
    <div class="footer__navigation">
        <div class="footer_content">
            <div class="footer_shops">
                <h3>SHOPS</h3>
                <ul class="shops_menu" >
                    <li><a href="#">New In</a></li>
                    <li><a href="#">Women</a></li>
                    <li ><a href="#">Men</a></li>
                    <li ><a href="#">Shoes</a></li>
                    <li ><a href="#">Bags & Accessories</a></li>
                    <li><a href="#">Top Brands</a></li>
                    <li><a href="#">Sale & Special Offers</a></li>
                    <li><a href="#">Lookbook</a></li>
                </ul>
            </div>
            <div class="footer_informaion">
                <h3 class="footer__title">INFORMATIO</h3>
                <ul class="informaion_item" >
                    <li ><a href="#">About us</a></li>
                    <li class=""><a href="#">Customer Service</a></li>
                    <li ><a href="#">New Collection</a></li>
                    <li><a href="#">Best Sellers</a></li>
                    <li ><a href="#">Manufacturers</a></li>
                    <li ><a href="#">Privacy policy</a></li>
                    <li ><a href="#">Terms & condition</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="footer_customer">
                <h3>CUSTOMER SERVICE</h3>
                <ul class="customer_item">
                    <li ><a href="#">Search Terms</a></li>
                    <li ><a href="#">Advanced Search</a></li>
                    <li><a href="#">Orders and Returns</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">RSS</a></li>
                    <li ><a href="#">Help & FAQs</a></li>
                    <li ><a href="#">Consultant</a></li>
                    <li ><a href="#">Store Locations</a></li>
                </ul>
            </div>
            <div class="media_form">
                <div class="footer_social_media">
                    <h3>STAY CONNECTED</h3>
                    <ul class="social_media_item">
                        <li class="circle__social_media "> <a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="circle__social_media "> <a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="circle__social_media "> <a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        <li class="circle__social_media "> <a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="subscribe">
                    <h3>SUBSCRIBE in OUR NEWS LETTER</h3>
                    <form action="1.php" method="post" class="search-form">
                        <input type="search" name="search" class="search-form__search-field" placeholder="Введите поисковую фразу">
                        <button type="submit" class="search-form__search-button">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64.8 66">
                                <use xlink:href="img/search.svg#search"></use>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</footer>
</body>
</html>