 <header>

	<div class="bar">
		<div class="bar_top">
			<ul class="bar_top_nav">
				<li class="bar__top_tel"><a href="#">
					<svg class="top_tel_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 348.077 348.077">
						<use href="img/call-answer.svg#Capa_1"></use>
					</svg>Call +001555801</a>

				</li>
			</ul>
		</div>
		<div class="bar_navigition">
			<label class="menu_toggel" for="menu_toggel_box">Menu</label>
			<input type="checkbox" class="menu_toggel_box" id="menu_toggel_box">
			<ul class="bar_nav">
				<li><a href="#">WELCOME MSG</a></li>
				<li><a href="#">MY ACCOUNT</a></li>
				<li><a href="#">MY WHISTLIST</a></li>
				<li><a href="#">LOGIN</a></li>

			</ul>
		</div>

	</div>
</header>
<nav>


	<div class="menu">
		<div class="menu_tagel">Menu</div>
		<ul class="menu_nav">
			<li><a href="#">Home</a></li>
			<li><a href="#">Gallery</a></li>
			<li><a href="#">Categories</a></li>
			<li><a href="#">Pages</a></li>
		</ul>

		<div class="logo">
			<img class="title__img" src="assets/img/shophia.png" alt="shophia">
		</div>
		<div class="social_media">
			<div class="circle__social_media "> <a href="#"><i class="fab fa-twitter"></i></a></div>
			<div class="circle__social_media "> <a href="#"><i class="fab fa-facebook-f"></i></a></div>
			<div class="circle__social_media "> <a href="#"><i class="fab fa-pinterest-p"></i></a></div>
			<div class="circle__social_media "><a href="#"><i class="fab fa-instagram"></i></a></div>


		</div>
		<div class="button">
			<a href="#" class="rupiah">RUPIAH</a>
		</div>
	</div>
</nav>